<mat-toolbar color="primary">Rock Paper Scissors</mat-toolbar>
<div class="content">
  <mat-card>
    <mat-card-content>
      <div class="content1">
        <h2>You</h2>
        <button mat-fab color="primary" class="score">0</button>
      </div>
      <h3>Select your weapon:</h3>
      <div class="content2">
        <i class="fa fa-hand-rock-o"></i>
        <i class="fa fa-hand-paper-o"></i>
        <i class="fa fa-hand-scissors-o"></i>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <div class="content1">
      <h2>Player 2</h2><button mat-fab color="accent" class="score">0</button>
    </div>
  </mat-card>
</div>